body{
	margin:200px 0px; padding:0px;
	text-align:center;
}
#content_wrapper {
	
	width: 298px;
	height: 198px;
	margin:0 auto;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
#login_button{
	position:absolute;
	width:298px;
	height:198px;
	background-image:url(http://localhost/qitcframework/css/images/log_button.jpg);
	/*GRADIENT*/
	  background-color: #666460;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#666460), to(#030003));
	  background-image: -webkit-linear-gradient(top, #666460, #030003);
	  background-image:    -moz-linear-gradient(top, #666460, #030003);
	  background-image:      -o-linear-gradient(top, #666460, #030003);
	  background-image:         linear-gradient(to bottom, #666460, #030003);
}
#loginForm{
	 position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
#loginForm{
	position: absolute;
	width: 298px;
	height: 198px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
#loginForm > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

#loginForm .login_button{
	background-image:url(http://localhost/qitcframework/css/images/log_button.jpg);
}
.img_bg{
	background-image:url(http://localhost/qitcframework/css/images/log_button.jpg);
}
#loginForm #login {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	opacity: 0;
}
#loginForm:hover .login_button {
	-webkit-transform: translate3d(0,0px,0) rotate3d(1,0,0,0deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	background:#0000;
	opacity: 0;
}

#loginForm:hover #login {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	/*GRADIENT*/
	  background-color: #754a09;
	  background-image: -webkit-gradient(linear, left top, left bottom, from(#754a09), to(#030003));
	  background-image: -webkit-linear-gradient(top, #754a09, #030003);
	  background-image:    -moz-linear-gradient(top, #754a09, #030003);
	  background-image:      -o-linear-gradient(top, #754a09, #030003);
	  background-image:         linear-gradient(to bottom, #754a09, #030003);
	/*BOX SHADOW*/
	-webkit-box-shadow: 0px 2px 9px 0px #000000;
	box-shadow: 0px 2px 9px 0px #000000;
	/*Border*/
	border-style:solid;
	border-width:1pt;
	border-color:#A5A5A5;
	
	opacity: 1;
}