*{
	margin: 0 auto;
	padding: 0px;outline: none
}

body{
	background-image: url('images/admin_logo.jpg');
	background-repeat:no-repeat;
	background-position:right top;
}

form {
	width:250px;
	padding:20px;
	margin-left:20%;
	margin-top:100px;
	border: 1px solid #FACC2E;
	
	/*** ADDING CSS3 ***/
	
	/***ROUNDED CORNERS***/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	/*** BACKGROUND GRADIENT ***/
	background:-moz-linear-gradient(19% 75% 90deg,#0174DF, #FF8000);
	background:-webkit-gradient(linear, 70% 0%, 0% 100%, from(#FF8000), to(#0174DF));
	
	/*** SHADOW ***/
	-moz-box-shadow: 0px -5px 300px #270644;
	-webkit-box-shadow: 0px -5px 300px #270644;
	
}

input {
	width: 230px;
	height: 35px;
	background: #FAFAFA;
	padding: 6px;
	margin-bottom: 10px;
	border-top: 1px solid #6E6E6E;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	
	/*** Adding CSS3 ***/
 
    /*** Transition Selectors - What properties to animate and how long ***/
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
 
    /*** Adding a small shadow ***/
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
}

input:hover {
	-webkit-box-shadow: 0px 0px 4px #000;
    background: #9d39e1;
    border-top: 1px solid #9d39e1;
}
.button {
    width: 100px;
    color: #DBA901;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #FAFAFA;
    margin-top: 10px;
}